<h1>Editing</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Delete Comment', project_comment_path(@comment), method: :delete, data: {confirm: "Are you sure you want to delete the comment '#{@comment.name}'? This cannot be undone!"} %>
