// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  text-align: center;
  margin: 1rem 1rem;
  padding: 1rem 0;
  display: inline-block;
  width: 30%;
}
.new_project_link {
  text-align: center;
}
.project-image > img {
  margin: auto;
  height: 200px;
  width: 100%;
}

.project-link {
  display: block;
  text-decoration: none;
  color: cadetblue;
}

.project-title {
  margin-bottom: 0;
}

.project-days-left {
  font-size: 0.75em;
}

.jumbo > img {
    height: 500px;
    width: 100%;
    margin-top: 1em;
}
